<!DOCTYPE html>
<md-content layout-padding layout-margin>

    <ol>
        <li><strong>Name und Kontaktdaten des f&uuml;r die Verarbeitung Verantwortlichen sowie des betrieblichen Datenschutzbeauftragten</strong></li>
    </ol>
    <p>Die Datenschutzinformation gilt f&uuml;r die Datenverarbeitung auf wm.hasenpower.io</p>
    <p>E-Mail: <a href="mailto:info@hasenpower.io">info@hasenpower.io</a><br /> </p>
    <ol start="2">
        <li><strong>Erhebung und Speicherung personenbezogener Daten sowie Art und Zweck von deren Verwendung</strong></li>
    </ol>
    <p>a) Beim Besuch der Website</p>
    <p>Beim Aufrufen unserer Website <strong><a href="https://wm.hasenpower.io">wm.hasenpower.io</a></strong> werden durch den auf Ihrem Endger&auml;t zum Einsatz kommenden Browser automatisch Informationen an den Server unserer Website gesendet. Diese Informationen werden tempor&auml;r in einem sog. Logfile gespeichert. Folgende Informationen werden dabei ohne Ihr Zutun erfasst und bis zur automatisierten L&ouml;schung gespeichert:</p>
    <ul style="margin-left: 26px">
        <li>IP-Adresse des anfragenden Rechners,</li>
        <li>Datum und Uhrzeit des Zugriffs,</li>
        <li>Name und URL der abgerufenen Datei,</li>
        <li>Website, von der aus der Zugriff erfolgt (Referrer-URL),</li>
        <li>verwendeter Browser und ggf. das Betriebssystem Ihres Rechners sowie der Name Ihres Access-Providers.</li>
    </ul>
    <p>Die genannten Daten werden durch uns zu folgenden Zwecken verarbeitet:</p>
    <ul style="margin-left: 26px">
        <li>Gew&auml;hrleistung eines reibungslosen Verbindungsaufbaus der Website,</li>
        <li>Gew&auml;hrleistung einer komfortablen Nutzung unserer Website,</li>
        <li>Auswertung der Systemsicherheit und -stabilit&auml;t sowie</li>
        <li>zu weiteren administrativen Zwecken.</li>
    </ul>
    <p>Die Rechtsgrundlage f&uuml;r die Datenverarbeitung ist Art.&nbsp;6 Abs.&nbsp;1 S.&nbsp;1 lit.&nbsp;f DSGVO. Unser berechtigtes Interesse folgt aus oben aufgelisteten Zwecken zur Datenerhebung. In keinem Fall verwenden wir die erhobenen Daten zu dem Zweck, R&uuml;ckschl&uuml;sse auf Ihre Person zu ziehen.</p>
    <p>Dar&uuml;ber hinaus setzen wir beim Besuch unserer Website Cookies ein. N&auml;here Erl&auml;uterungen dazu erhalten Sie unter den Ziff. 4 dieser Datenschutzerkl&auml;rung.</p>
    <p>b) Bei Nutzung unseres Kontaktformulars</p>
    <p>Bei Fragen jeglicher Art bieten wir Ihnen die M&ouml;glichkeit, mit uns &uuml;ber ein auf der Website bereitgestelltes Formular Kontakt aufzunehmen. Dabei ist die Angabe einer g&uuml;ltigen E-Mail-Adresse erforderlich, damit wir wissen, von wem die Anfrage stammt und um diese beantworten zu k&ouml;nnen. Weitere Angaben k&ouml;nnen freiwillig get&auml;tigt werden.</p>
    <p>Die Datenverarbeitung zum Zwecke der Kontaktaufnahme mit uns erfolgt nach Art.&nbsp;6 Abs.&nbsp;1 S.&nbsp;1 lit.&nbsp;a DSGVO auf Grundlage Ihrer freiwillig erteilten Einwilligung.</p>
    <p>Die f&uuml;r die Benutzung des Kontaktformulars von uns erhobenen personenbezogenen Daten werden nach Erledigung der von Ihnen gestellten Anfrage gel&ouml;scht.</p>
    <p>&nbsp;</p>
    <ol start="3">
        <li><strong>Weitergabe von Daten</strong></li>
    </ol>
    <p>Eine &Uuml;bermittlung Ihrer pers&ouml;nlichen Daten an Dritte zu anderen als den im Folgenden aufgef&uuml;hrten Zwecken findet nicht statt.</p>
    <p>Wir geben Ihre pers&ouml;nlichen Daten nur an Dritte weiter, wenn:</p>
    <ul style="margin-left: 26px">
        <li>Sie Ihre nach Art.&nbsp;6 Abs.&nbsp;1 S.&nbsp;1 lit.&nbsp;a DSGVO ausdr&uuml;ckliche Einwilligung dazu erteilt haben,</li>
        <li>die Weitergabe nach Art.&nbsp;6 Abs.&nbsp;1 S.&nbsp;1 lit.&nbsp;f DSGVO zur Geltendmachung, Aus&uuml;bung oder Verteidigung von Rechtsanspr&uuml;chen erforderlich ist und kein Grund zur Annahme besteht, dass Sie ein &uuml;berwiegendes schutzw&uuml;rdiges Interesse an der Nichtweitergabe Ihrer Daten haben,</li>
        <li>f&uuml;r den Fall, dass f&uuml;r die Weitergabe nach Art.&nbsp;6 Abs.&nbsp;1 S.&nbsp;1 lit.&nbsp;c DSGVO eine gesetzliche Verpflichtung besteht, sowie</li>
        <li>dies gesetzlich zul&auml;ssig und nach Art.&nbsp;6 Abs.&nbsp;1 S.&nbsp;1 lit.&nbsp;b DSGVO f&uuml;r die Abwicklung von Vertragsverh&auml;ltnissen mit Ihnen erforderlich ist.</li>
    </ul>
    <ol start="4">
        <li><strong>Cookies<br /> <br /> </strong></li>
    </ol>
    <ul style="margin-left: 26px">
        <li>Wir setzen auf unserer Seite Cookies ein. Hierbei handelt es sich um kleine Dateien, die Ihr Browser automatisch erstellt und die auf Ihrem Endger&auml;t (Laptop, Tablet, Smartphone o.&auml;.) gespeichert werden, wenn Sie unsere Seite besuchen. Cookies richten auf Ihrem Endger&auml;t keinen Schaden an, enthalten keine Viren, Trojaner oder sonstige Schadsoftware.</li>
        <li>In dem Cookie werden Informationen abgelegt, die sich jeweils im Zusammenhang mit dem spezifisch eingesetzten Endger&auml;t ergeben. Dies bedeutet jedoch nicht, dass wir dadurch unmittelbar Kenntnis von Ihrer Identit&auml;t erhalten.</li>
        <li>Der Einsatz von Cookies dient einerseits dazu, die Nutzung unseres Angebots f&uuml;r Sie angenehmer zu gestalten. So setzen wir sogenannte Session-Cookies ein, um zu erkennen, dass Sie einzelne Seiten unserer Website bereits besucht haben. Diese werden nach Verlassen unserer Seite automatisch gel&ouml;scht.</li>
        <li>Dar&uuml;ber hinaus setzen wir ebenfalls zur Optimierung der Benutzerfreundlichkeit tempor&auml;re Cookies ein, die f&uuml;r einen bestimmten festgelegten Zeitraum auf Ihrem Endger&auml;t gespeichert werden. Besuchen Sie unsere Seite erneut, um unsere Dienste in Anspruch zu nehmen, wird automatisch erkannt, dass Sie bereits bei uns waren und welche Eingaben und Einstellungen sie get&auml;tigt haben, um diese nicht noch einmal eingeben zu m&uuml;ssen.</li>
        <li>Zum anderen setzten wir Cookies ein, um die Nutzung unserer Website statistisch zu erfassen und zum Zwecke der Optimierung unseres Angebotes f&uuml;r Sie auszuwerten (siehe Ziff.&nbsp;5). Diese Cookies erm&ouml;glichen es uns, bei einem erneuten Besuch unserer Seite automatisch zu erkennen, dass Sie bereits bei uns waren. Diese Cookies werden nach einer jeweils definierten Zeit automatisch gel&ouml;scht.</li>
        <li>Die durch Cookies verarbeiteten Daten sind f&uuml;r die genannten Zwecke zur Wahrung unserer berechtigten Interessen sowie der Dritter nach Art.&nbsp;6 Abs.&nbsp;1 S.&nbsp;1 lit.&nbsp;f DSGVO erforderlich.</li>
        <li>Die meisten Browser akzeptieren Cookies automatisch. Sie k&ouml;nnen Ihren Browser jedoch so konfigurieren, dass keine Cookies auf Ihrem Computer gespeichert werden oder stets ein Hinweis erscheint, bevor ein neuer Cookie angelegt wird. Die vollst&auml;ndige Deaktivierung von Cookies kann jedoch dazu f&uuml;hren, dass Sie nicht alle Funktionen unserer Website nutzen k&ouml;nnen.</li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <ol start="5">
        <li><strong>Google Maps<br /> <br /> </strong></li>
    </ol>

    <p>Wir verwenden &ldquo;Google Maps&rdquo; des Anbieters Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA, um geographische Informationen visuell darzustellen. Bei der Nutzung werden Daten, insbesondere IP-Adressen und Standortdaten, der Nutzer erhoben, verarbeitet und genutz. Die Daten k&ouml;nnen in den USA verarbeitet werden. N&auml;here Informationen &uuml;ber die Datenverarbeitung durch Google k&ouml;nnen Sie den Datenschutzhinweisen von Google entnehmen, die Sie unter h<a href="ttps://www.google.com/policies/privacy/">ttps://www.google.com/policies/privacy/</a>, Opt-Out: <a href="https://adssettings.google.com/authenticated">https://adssettings.google.com/authenticated</a>.<br /> </p>
    <ol start="6">
        <li><strong>Betroffenenrechte</strong></li>
    </ol>
    <p>Sie haben das Recht:</p>
    <ul style="margin-left: 26px">
        <li>gem&auml;&szlig; Art.&nbsp;15 DSGVO Auskunft &uuml;ber Ihre von uns verarbeiteten personenbezogenen Daten zu verlangen. Insbesondere k&ouml;nnen Sie Auskunft &uuml;ber die Verarbeitungszwecke, die Kategorie der personenbezogenen Daten, die Kategorien von Empf&auml;ngern, gegen&uuml;ber denen Ihre Daten offengelegt wurden oder werden, die geplante Speicherdauer, das Bestehen eines Rechts auf Berichtigung, L&ouml;schung, Einschr&auml;nkung der Verarbeitung oder Widerspruch, das Bestehen eines Beschwerderechts, die Herkunft ihrer Daten, sofern diese nicht bei uns erhoben wurden, sowie &uuml;ber das Bestehen einer automatisierten Entscheidungsfindung einschlie&szlig;lich Profiling und ggf. aussagekr&auml;ftigen Informationen zu deren Einzelheiten verlangen;</li>
        <li>gem&auml;&szlig; Art.&nbsp;16 DSGVO unverz&uuml;glich die Berichtigung unrichtiger oder Vervollst&auml;ndigung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen;</li>
        <li>gem&auml;&szlig; Art.&nbsp;17 DSGVO die L&ouml;schung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen, soweit nicht die Verarbeitung zur Aus&uuml;bung des Rechts auf freie Meinungs&auml;u&szlig;erung und Information, zur Erf&uuml;llung einer rechtlichen Verpflichtung, aus Gr&uuml;nden des &ouml;ffentlichen Interesses oder zur Geltendmachung, Aus&uuml;bung oder Verteidigung von Rechtsanspr&uuml;chen erforderlich ist;</li>
        <li>gem&auml;&szlig; Art.&nbsp;18 DSGVO die Einschr&auml;nkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen, soweit die Richtigkeit der Daten von Ihnen bestritten wird, die Verarbeitung unrechtm&auml;&szlig;ig ist, Sie aber deren L&ouml;schung ablehnen und wir die Daten nicht mehr ben&ouml;tigen, Sie jedoch diese zur Geltendmachung, Aus&uuml;bung oder Verteidigung von Rechtsanspr&uuml;chen ben&ouml;tigen oder Sie gem&auml;&szlig; Art.&nbsp;21 DSGVO Widerspruch gegen die Verarbeitung eingelegt haben;</li>
        <li>gem&auml;&szlig; Art.&nbsp;20 DSGVO Ihre personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, g&auml;ngigen und maschinenlesebaren Format zu erhalten oder die &Uuml;bermittlung an einen anderen Verantwortlichen zu verlangen;</li>
        <li>gem&auml;&szlig; Art.&nbsp;7 Abs.&nbsp;3 DSGVO Ihre einmal erteilte Einwilligung jederzeit gegen&uuml;ber uns zu widerrufen. Dies hat zur Folge, dass wir die Datenverarbeitung, die auf dieser Einwilligung beruhte, f&uuml;r die Zukunft nicht mehr fortf&uuml;hren d&uuml;rfen und</li>
        <li>gem&auml;&szlig; Art.&nbsp;77 DSGVO sich bei einer Aufsichtsbeh&ouml;rde zu beschweren. In der Regel k&ouml;nnen Sie sich hierf&uuml;r an die Aufsichtsbeh&ouml;rde Ihres &uuml;blichen Aufenthaltsortes oder Arbeitsplatzes oder unseres Kanzleisitzes wenden.</li>
    </ul>
    <p><br /> </p>
    <ol start="7">
        <li><strong>Widerspruchsrecht</strong></li>
    </ol>
    <p>Sofern Ihre personenbezogenen Daten auf Grundlage von berechtigten Interessen gem&auml;&szlig; Art.&nbsp;6 Abs.&nbsp;1 S.&nbsp;1 lit.&nbsp;f DSGVO verarbeitet werden, haben Sie das Recht, gem&auml;&szlig; Art.&nbsp;21 DSGVO Widerspruch gegen die Verarbeitung Ihrer personenbezogenen Daten einzulegen, soweit daf&uuml;r Gr&uuml;nde vorliegen, die sich aus Ihrer besonderen Situation ergeben oder sich der Widerspruch gegen Direktwerbung richtet. Im letzteren Fall haben Sie ein generelles Widerspruchsrecht, das ohne Angabe einer besonderen Situation von uns umgesetzt wird.</p>
    <p>M&ouml;chten Sie von Ihrem Widerrufs- oder Widerspruchsrecht Gebrauch machen, gen&uuml;gt eine E-Mail an info@hasenpower.io.<br /> </p>
    <ol start="8">
        <li><strong>Datensicherheit</strong></li>
    </ol>
    <p>Wir verwenden innerhalb des Website-Besuchs das verbreitete SSL-Verfahren (Secure Socket Layer) in Verbindung mit der jeweils h&ouml;chsten Verschl&uuml;sselungsstufe, die von Ihrem Browser unterst&uuml;tzt wird. In der Regel handelt es sich dabei um eine 256 Bit Verschl&uuml;sselung. Falls Ihr Browser keine 256-Bit Verschl&uuml;sselung unterst&uuml;tzt, greifen wir stattdessen auf 128-Bit v3 Technologie zur&uuml;ck. Ob eine einzelne Seite unseres Internetauftrittes verschl&uuml;sselt &uuml;bertragen wird, erkennen Sie an der geschlossenen Darstellung des Sch&uuml;ssel- beziehungsweise Schloss-Symbols in der unteren Statusleiste Ihres Browsers.</p>
    <p>Wir bedienen uns im &Uuml;brigen geeigneter technischer und organisatorischer Sicherheitsma&szlig;nahmen, um Ihre Daten gegen zuf&auml;llige oder vors&auml;tzliche Manipulationen, teilweisen oder vollst&auml;ndigen Verlust, Zerst&ouml;rung oder gegen den unbefugten Zugriff Dritter zu sch&uuml;tzen. Unsere Sicherheitsma&szlig;nahmen werden entsprechend der technologischen Entwicklung fortlaufend verbessert.</p>
    <p><br /> </p>
    <ol start="9">
        <li><strong>Aktualit&auml;t und &Auml;nderung dieser Datenschutzerkl&auml;rung</strong></li>
    </ol>
    <p>Diese Datenschutzerkl&auml;rung ist aktuell g&uuml;ltig und hat den Stand Mai 2018.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</md-content>
