<!DOCTYPE html>
<div layout="column" layout-align="center center" >

    <md-table-container layout-fill>
        <table md-table>
            <thead md-head md-order="$ctrl.query.order">
            <tr md-row>
                <th md-column md-numeric><span>Platzierung</span></th>
                <th md-column md-order-by="name"><span>Name</span></th>
                <th hide-xs md-column md-numeric md-order-by="points[2]" md-desc><span>Gewinner-Tipp (2 P.)</span></th>
                <th hide-xs md-column md-numeric md-order-by="points[3]" md-desc><span>Tendenz-Tipp (3 P.)</span></th>
                <th hide-xs md-column md-numeric md-order-by="points[4]" md-desc><span>Exakter-Tipp (4 P.)</span></th>
                <th md-column md-numeric md-order-by="points.sum" md-desc><span>Punkte</span></th>

            </tr>
            </thead>
            <tbody md-body>
            <!--  | orderBy: $ctrl.query.order -->
            <tr md-row ng-repeat="user in $ctrl.users() | orderBy: $ctrl.query.order">
                <td md-cell>{{user.position}}</td>
                <td md-cell>{{user.name}}</td>
                <td hide-xs md-cell>{{user.points[2]}}</td>
                <td hide-xs md-cell>{{user.points[3]}}</td>
                <td hide-xs md-cell>{{user.points[4]}}</td>
                <td md-cell>{{user.points.sum}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

</div>