<!DOCTYPE html>
<div layout="row" layout-align="center center" layout-wrap layout-padding>

    <div ng-repeat="match in $ctrl.matchesLoser()" flex-xs="100" flex-sm="50" flex-md="50" flex-lg="33" flex="25">

        <md-card>
            <match match="match"></match>
        </md-card>

    </div>

    <div ng-repeat="match in $ctrl.matches()" flex-xs="100" flex-sm="50" flex-md="50" flex-lg="33" flex="25">

        <md-card>
            <match match="match"></match>
        </md-card>

    </div>
</div>